@use '../abstract/index' as *;

%tpl-sort-filter-form {
  position: absolute;
  top: 3.5em;
  left: -2px;

  width: 140%;

  padding: 1.5em;
  border-radius: 2.5em;
  box-shadow: 2px 2px 5px $shadow;
  background: white;

  z-index: 10;

  overflow: hidden;

  clip-path: circle(0% at 0 0);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 250ms ease-in-out;

  &.open {
    clip-path: circle(140% at 0 0);
    opacity: 1;
    visibility: visible;
    pointer-events: unset;
    transition: all 250ms ease-in-out;
  }
}
