@use '../abstract/index' as *;

.bg-scale-10 {
  background: $scale-10;
}
.bg-scale-9 {
  background: $scale-9;
}
.bg-scale-8 {
  background: $scale-8;
}
.bg-scale-7 {
  background: $scale-7;
}
.bg-scale-6 {
  background: $scale-6;
}
.bg-scale-5 {
  background: $scale-5;
}
.bg-scale-4 {
  background: $scale-4;
}
.bg-scale-3 {
  background: $scale-3;
}
.bg-scale-2 {
  background: $scale-2;
}
.bg-scale-1 {
  background: $scale-1;
}
