@use '../abstract/index' as *;

* {
  font-family: 'Fira Sans', sans-serif;
}

button:focus {
  outline-color: $accent-2;
}

body.lock {
  overflow-y: hidden !important;
}

html {
  @include mq(xlg) {
    font-size: 12px !important;
  }
}
