$accent: hsl(140, 57%, 55%);
$accent-2: hsl(191, 73%, 64%);
$text-main: hsl(194, 33%, 18%);
$text-secondary: hsl(0, 0%, 0%);

$input-main: hsl(141, 8%, 33%);

$shadow: hsla(0, 0%, 0%, 0.15);
$shadow-2: hsla(141, 8%, 33%, 0.15);
$overlay: hsla(194, 33%, 18%, 0.6);

$scale-10: #ff304f;
$scale-9: #f44660;
$scale-8: #e9536a;
$scale-7: #ffae42;
$scale-6: #ffd23f;
$scale-5: #fff700;
$scale-4: #fff44f;
$scale-3: #dfff00;
$scale-2: #4cbb17;
$scale-1: #228b22;
